<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Productos</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
</head>

<body>
  <div class="container">
    {% block title %}
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Productos</h6>
      <a type="button" href="create.html" class="btn btn-success">Agregar
        Nuevo
      </a>
    </div>
    {% endblock %} {% block container %}
    <div class="panel panel-default">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoria</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if ProdustList %}
          {% for product in ProdustList %}
          <tr>
            <td>{{ product.nombre }}</td>
            <td>{{ product.codigo }}</td>
            <td>{{ product.precio }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.categoria }}</td>
            <td>
              <a type="button" href="{% url 'productEdit' product.id  %}" class="btn btn-info">Editar</a>
            </td>
            <td>
              <a type="button" href="{% url 'productDelete' product.id  %}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}

          {% else %}
          <h1>No Existen Registros</h1>
          {% endif %}
        </tbody>
      </table>
    </div>
    {% endblock %}
  </div>
</body>

</html>